main{
    display: flex;
    flex-wrap: wrap;
    gap:24px;
    padding-block:24px;
}

main img{
    width: 286px;
    height: 286px;
    object-fit: cover;
    transition: .3s;
    filter: grayscale(1);
    cursor: pointer;
}

main img:hover{
    filter: grayscale(0);
}